<div class="container">
  <div class="jumbotron">
    <%= image_tag('/assets/images/cindra_logo.png', height: "200px", class: "center-block") %>
    <p class="lead text-center">FOR YOUR TRAVEL INSPIRATION</p>
    <p class='text-center'><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  </div>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Eat</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Play</a></li>
      <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Relax</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="row marketing">
          <div class="col-lg-3">
            <div class="thumbnail">
              <%= image_tag("/assets/images/balon.png") %>
              <div class="caption">
                <h3>Hot Item</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="thumbnail">
              <%= image_tag("/assets/images/play/camel.png") %>
              <div class="caption">
                <h3>Hot Item</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="thumbnail">
              <%= image_tag("/assets/images/play/glamping.jpg") %>
              <div class="caption">
                <h3>Hot Item</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="thumbnail">
              <%= image_tag("/assets/images/play/kolam.png") %>
              <div class="caption">
                <h3>Hot Item</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <div class="row marketing">
          <div class="col-lg-3">
            <div class="thumbnail">
              <%= image_tag("/assets/images/play/rafting.png") %>
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="thumbnail">
              <%= image_tag("/assets/images/glamping/Sandat-Glamping-–-Indonesian-Luxury-and-Hospitality-13.jpg") %>
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="thumbnail">
              <%= image_tag("/assets/images/glamping/bali-sandat-traveller-1-11jun13-pr_b_1440x960.jpg") %>
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="thumbnail">
              <%= image_tag("/assets/images/glamping/bali-sandat-traveller-1-11jun13-pr_b_1440x960.jpg") %>
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">...</div>
      <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; Company 2014</p>
  </footer>
</div>
<!-- /container -->
